<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2005-2015 WSO2, Inc. (http://wso2.com)
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!-- Apache thrift client configuration for publishing statistics to WSO2 CEP and WSO2 DAS-->
<thriftClientConfiguration>
    <config>
        <cep>
            <node id="node-01">
                <statsPublisherEnabled>{{CEP_STATS_PUBLISHER_ENABLE}}</statsPublisherEnabled>
                <username>{{CEP_USER_NAME}}</username>
                <password>{{CEP_PASSWORD}}</password>
                <ip>{{CEP_HOST_NAME}}</ip>
                <port>{{CEP_PORT}}</port>
            </node>
            <!--<node id="node-02">
                 <statsPublisherEnabled>true</statsPublisherEnabled>
                 <username>admin</username>
                 <password>admin</password>
                 <ip>10.10.1.1</ip>
                 <port>7714</port>
            </node>-->
        </cep>
        <das>
            <node id="node-01">
                <statsPublisherEnabled>{{DAS_STATS_PUBLISHER_ENABLE}}</statsPublisherEnabled>
                <username>{{DAS_USERNAME}}</username>
                <password>{{DAS_PASSWORD}}</password>
                <ip>{{DAS_HOST_NAME}}</ip>
                <port>{{DAS_PORT}}</port>
            </node>
            <!--<node id="node-02">
                 <statsPublisherEnabled>true</statsPublisherEnabled>
                 <username>admin</username>
                 <password>admin</password>
                 <ip>10.10.1.1</ip>
                 <port>7713</port>
            </node>-->
        </das>
    </config>
</thriftClientConfiguration>
