<!--
  ~ Copyright 2005-2015 WSO2, Inc. (http://wso2.com)
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- toggle navigation -->
        <div class="navbar-header main-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="{{url ""}}"><img src="{{url "/themes/privatePaaS/images/wso2_logo.png"}}">  <h2>Private PaaS</h2></a>
        </div>
        <!-- default navigation -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle user-drop" data-toggle="dropdown">
                        {{#user}}{{/user}}
                        <span class="user-image">
                            <i class="fa fa-user"></i>
                        </span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{url ""}}/controllers/login/logout.jag">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>