<!--
  ~ Copyright 2005-2015 WSO2, Inc. (http://wso2.com)
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<div class="container">
    <div class="row row-centered">
        <div class="col-md-5 col-lg-4 col-sm-6 col-xs-11 col-centered">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h3 class="panel-title">Log in to your account</h3>
                </div>
                <div class="panel-body login">
                    <form accept-charset="UTF-8" role="form" method="POST">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="User Name" name="username" type="text" id="username">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" value="" id="password">
                            </div>
                            <div class="form-error"></div>

                            <button type="button" id="submit-btn" data-loading-text="Validating..." class="btn btn-lg btn-info btn-block">
                                Sign in
                            </button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

